
@media only screen and (min-width:330px) and (max-width:502px){
*{
    margin: 0px;
    padding:0px;
}
.navbar li a{
        padding:3px 5px;
        font-size: 13px;
}
.content1 h1{
    font-size: 2rem;
}
.content p{
    font-size: 1rem;
}
}
@media only screen and (max-width:330px){
    .navbar li a{
        padding: 1px 3px;
        font-size:9px ;
    }
    .content1 h1{
        font-size:1rem;
    }
    .content1 p{
        font-size: 9px;
    }
}
